body {
  background: #6e8bd1;
  color: black;
  font-size: 16px; 
  font-family: 'Inconsolata', monospace;     
}

#info {
  margin-top:-60px;
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
.container {
 position: absolute;
 top: 10%;
 left: 50%;
 margin-right: -50%;
 transform: translate(-50%, -50%);
 width:250px;
 height:40px;
 padding: 8px;
 color: #fff;
 background-color: #fff;
 opacity: 0.9;
 text-decoration: none;
}
.text-box {
  max-height: 70vh;
  overflow: scroll;
}
.text-box:focus {
  outline: none;
}
.text-box p {
  border-bottom: 1px dotted black;
  margin: 0px !important;
}

button.record {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: right;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}


.canvas {
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 85vw;
    max-width: 85vw;
  }
  .text-box {
    max-height: 55vh;
  }
}

#viewSrcButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px;
  color: #fff;
  background-color: #555;
  opacity: 0.7;
  text-decoration: none;
}