
body {
  z-index: -1;
  background: #6e8bd1;
  color: black;
  font-size: 16px; 
  font-family: 'Inconsolata', monospace;     
}

#info {
  margin-top:-60px;
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
.container {
  position: relative;
  border: 1px solid #c1c0c0;
  width: 40vw;
  max-width: 60vw;
  margin: 0 auto;
  border-radius: 0.1rem;
  background: #fdfdfd;
  padding: 0.2rem 1rem;
  overflow: hidden;
  margin-top: 10vh;
}
.text-box {
  max-height: 70vh;
  overflow: scroll;
}
.text-box:focus {
  outline: none;
}
.text-box p {
  border-bottom: 1px dotted black;
  margin: 0px !important;
}

button.record {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: right;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}


.canvas {
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 85vw;
    max-width: 85vw;
  }
.text-box {
    max-height: 55vh;
  }
}

#viewSrcButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #555;
    opacity: 0.7;
    text-decoration: none;
}
/*
canvas {
  width: 50%;
  height: 50%;
}*/